@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap");
/* Global Style */
.navbar-brand {
  font-family: "Heebo", sans-serif;
}
.nav-link,
.firstParagraph,
.firstJargon,
.secondParagraph,
.secondJargon,
.emailLabel,
.card-title,
.card-text,
.seeMore,
.actionTitle,
.actionDesc,
.testimoniText,
.testimoniGiven,
.testimoniGivenJob,
.footer-link {
  font-family: "Poppins", sans-serif;
}
.seeMore {
  text-decoration: none;
}
.tombol:hover {
  background-color: #4285f4 !important;
}
.userTestimoni {
  width: 135px;
  height: 135px;
  border-radius: 10px;
}
/* Global Style */
/* Desktop */
/* Navbar */
.navbar-brand {
  font-size: 1em;
  font-weight: 800;
}
.nav-link {
  font-weight: 500;
}
.firstParagraph {
  color: #2d9cdb;
}
.secondParagraph {
  font-size: 1.125em;
}
.firstJargon,
.secondJargon {
  font-size: 2.65em;
}
.img {
  width: 74em;
  border-radius: 18px;
}
.card {
  width: 27em !important;
}
/* Akhir Navbar */
/* Service section */
#services {
  margin-top: 8em !important;
}
.serviceCard {
  width: 20em !important;
}
.serviceCard .card-title {
  margin-top: 2rem;
}
.serviceCard .card-text {
  margin-bottom: 2rem;
}
/* Akhir service section */
/* Work section */
#our-work {
  margin-top: 6em !important;
}
.imgWork {
  width: 28em;
  height: 28em;
  border-radius: 34px;
}
.workCard .card-title {
  margin-top: 1rem;
  font-size: 14px;
}
.workCard .card-text {
  font-size: 24px;
}

/* Akhir work section */
/* Team section */
#team-section {
  margin-top: 8em;
}
.imgMember {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
/* Akhir team section */
/* Testimoni section */
#testimoni {
  margin-top: 5em;
}
.testimoniGiven,
.testimoniGivenJob {
  margin-left: -23em !important;
}
.testimoniText {
  font-size: 36px;
}
.actionTitle h3 {
  font-size: 36px !important;
}
/* Akhir testimoni */
/* Footer */
#footer {
  margin-top: 6em;
  background-color: #100e1d !important;
  position: absolute;
  width: 100%;
  /* Height of the footer*/
}
.menu-link {
  margin-top: 3em;
}
.footer-brand {
  color: #fff;
}
.footer-link {
  color: #fff;
  text-decoration: none;
}
.social-media {
  margin-right: 15px;
}
.btn {
  margin-left: -4em;
}
/* Akhir footer */
/* Akhir Desktop */
/* Mobile */
/* Akhir Mobile */
