@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap");
/* Global Style */
.navbar-brand {
  font-family: "Heebo", sans-serif;
}
.nav-link,
.firstParagraph,
.firstJargon,
.secondParagraph,
.secondJargon,
.emailLabel,
.card-title,
.card-text,
.seeMore,
.actionTitle,
.actionDesc,
.testimoniText,
.testimoniGiven,
.testimoniGivenJob,
.footer-link {
  font-family: "Poppins", sans-serif;
}
.seeMore {
  text-decoration: none;
}
.tombol:hover {
  background-color: #4285f4 !important;
}
.userTestimoni {
  width: 135px;
  height: 135px;
  border-radius: 10px;
}
.footerSubscribe {
  color: #fff;
}
/* Global Style */
/* Desktop */
/* Navbar */
.navbar-brand {
  font-size: 1em;
  font-weight: 800;
}
.nav-link {
  font-weight: 500;
}
.firstParagraph {
  color: #2d9cdb;
}
.secondParagraph {
  font-size: 1.125em;
}
.firstJargon,
.secondJargon {
  font-size: 2.65em;
}
.img {
  width: 74em;
  border-radius: 18px;
}
.card {
  width: 27em !important;
}
/* Akhir Navbar */
/* Jumbotron */
.formEmail {
  margin-top: -0.25em;
}
/* Akhir Jumbotron */
/* Service section */
#services {
  margin-top: 8em !important;
}
.serviceCard {
  width: 20em !important;
}
.serviceCard .card-title {
  margin-top: 2rem;
}
.serviceCard .card-text {
  margin-bottom: 2rem;
}
/* Akhir service section */
/* Work section */
#our-work {
  margin-top: 6em !important;
}
.imgWork {
  width: 28em;
  height: 28em;
  border-radius: 34px;
}
.workCard .card-title {
  margin-top: 1rem;
  font-size: 14px;
}
.workCard .card-text {
  font-size: 24px;
}

/* Akhir work section */
/* Team section */
#team-section {
  margin-top: 4em;
}
.imgMember {
  margin-left: 3em;
  margin-right: 3em;
  width: 250px;
  height: 250px;
}
/* Akhir team section */
/* Testimoni section */
#testimoni {
  margin-top: 5em;
}
.testimoniGiven,
.testimoniGivenJob {
  margin-left: -25rem !important;
}
.testimoniText {
  font-size: 36px;
}
.actionTitle h3 {
  font-size: 36px !important;
}
/* Akhir testimoni */
/* Footer */
#footer {
  margin-top: 6em;
  background-color: #100e1d !important;
  position: absolute;
  width: 100%;
  /* Height of the footer*/
}
.footerContainer {
  justify-content: space-evenly;
  display: flex !important;
}
.menu-link {
  display: grid;
  margin-top: 3em;
}
.footer-brand {
  color: #fff;
}
.footer-link {
  color: #fff;
  padding-bottom: 10px;
  text-decoration: none;
}
.social-media {
  margin-top: -4.5em;
  margin-right: 10px;
}
.formFooter {
  margin-top: -3.5rem;
  display: flex;
}
.inputFooter,
.btnFooter {
  height: 40px;
}
.btnFooter {
  margin-left: 15px;
}
/* Akhir footer */
/* Akhir Desktop */
/* Mobile */
@media (max-width: 480px) {
  .container {
    overflow-x: hidden;
  }
  .jumbotron {
    margin-left: -50px !important;
  }
  .card-title {
    font-size: 1.6rem;
  }
  .card-text {
    font-size: 1.12rem !important;
  }
  .actionTitle {
    margin-left: 1em;
    font-size: 24px;
  }
  /* Jumbotron */
  .firstParagraph {
    font-size: 12px;
  }
  .firstJargon {
    margin-bottom: 4em;
    font-size: 24px;
  }
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 8em;
  }
  .secondJargon {
    margin-left: -0.5em;
    font-size: 24px;
  }
  .secondParagraph {
    margin-left: -0.5em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 12px;
  }
  .emailLabel {
    margin-left: -0.5em;
    font-size: 10px;
  }
  .formEmail {
    width: 10em !important;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
  }
  /* Akhir Jumbotron */
  /* Service */
  .serviceCard {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
  }
  /* Akhir services */
  /* Our work */
  .imgWork {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 18rem;
    height: 18rem;
  }
  .seeMore {
    margin-right: 25px;
  }
  /* Akhir our work */
  /* Team */
  .actionDesc {
    margin-left: 1.12rem;
    font-size: 28px;
  }
  .actionDesc2 {
    margin-left: 1.12rem;
    font-size: 14px !important;
  }
  .imgMember {
    padding-left: 1em;
    margin-right: 2rem;
    margin-bottom: 1.15em;
  }
  /* Akhir Team */
  /* Testimoni */
  .testimoniText {
    font-size: 24px;
  }
  .testimoniGiven,
  .testimoniGivenJob {
    margin-left: 0.1rem !important;
  }
  .testimoniGiven {
    font-weight: bold;
  }
  .testimoniGivenJob {
    font-size: 12px;
  }
  /* Akhir Testimoni */
  /* Footer */
  .footerContainer {
    display: block !important;
  }
  .menu-link {
    margin-bottom: 2.5rem;
  }
  .social-media {
    margin-top: 1rem;
  }
  .footerSubscribe {
    margin-top: 1.5rem;
  }
  .formFooter {
    margin-top: 0.5em;
  }
  /* Akhir Footer */
}
/* Akhir Mobile */
