@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat:wght@200&display=swap");

.modernInterior {
  margin-top: 8em !important;
}
.description {
  margin-top: 8em !important;
}
.cardItems {
  background-color: #f2eaea;
}
