/* General style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.title, .contactInfo, .itemTitle, .discountPrice, .shippingContainer, .totalContainer, .formLabel, .btnSubmit, .credit {
    font-weight: 600;
    font-style: normal;
}
.itemList {
    background-color: #e4e0e0;
}
/* Mobile style */
@media only screen and (min-width:320px) {
    .title {
        font-size: 24px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .itemList {
        border-radius: 10px;
    }
    .item1, .item2 {
        display: flex;
    }
    .itemTitle {
        font-size: 16px;
        margin-top: 25px;
        margin-left: 18px;
    }
    .img {
        width: 160px;
        height: 160px;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .price {
        display: flex;
        margin-left: 18px;
    }
        .discountPrice {
        font-size: 16px;
        margin-top: -10px;
        color: orange;
        margin-right: 15px;
    }
    .beforeDiscount {
        text-decoration: line-through;
        font-size: 12px;
        margin-top: -8px;
    }
    .buttonComponent {
        display: flex;
        justify-content: center;
        border: 1px solid #a5a5a5;
        border-radius: 10px;
        margin-left: 20px;
        width: 135px;
        height: 50px;
    }
    .btnMinus, .btnPlus {
        background: none;
        border: none;
        cursor: pointer;
        color: #b1aeae;
    }
    .ammount {
        margin-left: 15px;
        margin-right: 15px;
    }
    .shippingContainer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #a5a5a5;
        border-bottom: 1px solid #a5a5a5;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 90px;
    }
    .totalContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 30px; 
    }
        .contactTitle, .shippingFormTitle {
        margin-top: 40px;
        font-size: 14px;
        color: #333333;
        margin-left: 12px;
    }
    .itemContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .icons {
        position: absolute;
        margin-top: 28px;
        margin-left: 12px;
    }
    .formLabel {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .inputForm {
        width: 285px;
        padding-left: 40px;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 5px;
    }
    .countryForm {
        display: flex;
    }
    .radioInput {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 15px;
        display: flex;
    }
    .radioInput label {
        margin-top: 5px;
        margin-left: 5px;
    }
    .btnSubmit {
        width: 166px;
        height: 54px;
        color: #f2f2f2;
        background-color: orange;
        border: none;
        border-radius: 12px;
        float: right;
        margin-right: 15px;
    }
    .credit {
        margin-top: 120px;
        text-align: center;
        font-size: 14px;
    }
}
/* Landscape Mobile and Tablet */
/* Desktop and Portrait Tablet style */
