@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

/* Global Style */
.recipeTitle, .ingridientTitle, .doughTitle, .instructionTitle, .itemInstruction:before{
    font-family: 'Playfair Display', sans-serif;
}
.desc, .yieldsTitle, .yieldsDesc, .timeTitle, .timeDesc, .step, .sourceLink, .credit .itemInstruction {
    font-family: 'Montserrat', sans-serif;
}
.recipeTitle {
    font-weight: 700;
}
.desc {
    font-weight: 500;
    font-style: italic;
}
.yieldsTitle {
    text-transform: uppercase;
    font-weight: 700;
}
.yieldsDesc {
    text-transform: lowercase;
    font-weight: 500;
}
.ingridientTitle {
    font-weight: 700;
}
.doughTitle1, .doughTitle2 {
    font-weight: 400;
    font-style: italic;
}
.step {
    font-weight: 700;
    line-height: 25px;
}
.instructionTitle {
    font-weight: 700;
    font-size: 24px;
}
.sourceLink {
    font-weight: 400px;
    font-style: italic;
}
.credit {
    font-weight: 600px;
    text-align: center;
}
/* Mobile Style */
@media only screen and (min-width: 320px) {
    .recipeTitle {
        font-size: 14px;
        margin-top: 30px;
        margin-left: 12px;
    }
    .header {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .imgDots {
        padding-top: 17px;
        position: absolute;
        margin-left: 10px;
    }
    .desc {
        position: relative;
        font-size: 12px;
        margin-left: 35px;
        margin-right: 20px;
    }
    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 150px;
        margin-top: 20px;
    }
    .stepandPortion {
        display: flex;
        flex-direction: row;
    }
    .yieldsIcon {
        color: orange;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 15px;
    }
    .yieldsTitle, .timeTitle {
        margin-top: 15px;
        font-size: 8px;
    }
    .yieldsDesc, .timeDesc {
        margin-top: -5px;
        font-size: 10px;
    }
    .timeContainerItem {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .timeIcon {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 15px;
    }
    .ingridientTitle {
        margin-left: 12px;
        margin-top: 15px;
    }
    .doughTitle1 {
        margin-top: 13px;
        margin-left: 12px;
        margin-bottom: 24px;
    }
    .doughTitle2 {
        margin-top: 45px;
        margin-left: 12px;
        margin-bottom: 24px;
    }
    .checkboxForm {
        display: flex;
        flex-direction: row;
    }
    .checkbox {
        position: absolute;
        margin-left: 10px;
    }
    .step {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        margin-left: 35px;
    }
    .instructionTitle {
        margin-top: 30px;
        margin-left: 12px;
    }
    .listInstruction {
        list-style-type: none;
        counter-reset: ol-counter;
    }
    .listInstruction .itemInstruction:before {
        background-color: orange;
        border-style: solid;
        border-color: orange;
        border-radius: 5px;
        width: 36px;
        height: 36px;
        text-align: center;
        color: white;
        position: absolute;
        margin-left: -50px;
        font-size: 24px;
        content: counter(ol-counter);
        counter-increment: ol-counter;
    }
    .itemInstruction {
        margin-right: 25px;
        text-align: justify;
        margin-left: 25px;
        margin-bottom: 40px;
        font-size: 16px;
    }
    span {
        font-weight: bolder;
    }
    .sourceLink {
        margin-top: 40px;
        margin-left: 12px;
        font-size: 12px;
    }
    .credit {
        margin-top: 130px;
        font-size: 14px;
    }
}
